html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { min-width: 960px; }

#header { position: relative; }

#branding { width: 940px; margin: 0 auto; }

#access { position: relative; overflow: hidden; }

.menu { width: 940px; margin: 0 auto; }

#main { width: 960px; margin: 0 auto; overflow: hidden; position: relative; }

#container { width: 620px; float: left; }

#content { margin: 0 0 0 10px; width: 540px; overflow: hidden; }

.main-aside { width: 300px; float: right; position: relative; right: 10px; }

#secondary { clear: right; }

#footer { clear: both; }

#subsidiary { width: 940px; margin: 0 auto; overflow: hidden; }
#subsidiary .aside { width: 300px; float: left; margin: 0 20px 0 0; }
#subsidiary #third { margin: 0; }

#siteinfo { clear: both; width: 940px; margin: 0 auto; }

body, input, textarea { font: 15px Georgia, serif; line-height: 22px; }

p, ul, ol, dd, pre { margin-bottom: 22px; }

pre, code { font: 14px Monaco, monospace; line-height: 22px; }

blockquote { color: #666; font-style: italic; }

table { border: 1px solid #ccc; border-width: 1px 1px 0 1px; font-size: 13px; line-height: 18px; margin: 0 0 22px 0; text-align: left; }

caption { text-align: left; }

tr { border-bottom: 1px solid #ccc; }

th, td { padding: .7em 1.25em; }

hr { background-color: #ccc; border: 0; color: #ccc; height: 1px; margin-bottom: 22px; }

a:link { color: #004B91; }

a:visited { color: #743399; }

a:active, a:hover { color: #FF4B33; }

#header { z-index: 2; }

#branding { padding: 88px 0 44px 0; }

#blog-title { font-family: Arial,sans-serif; font-size: 34px; font-weight: bold; line-height: 40px; }
#blog-title a { color: #000; text-decoration: none; }
#blog-title a:active, #blog-title a:hover { color: #FF4B33; }

#blog-description { color: #666; font-size: 13px; font-style: italic; font-weight: normal; line-height: 1.5; margin: 0; }

.skip-link { display: none; }

#access { border-bottom: 1px solid #ccc; height: 32px; font-size: 13px; overflow: visible; z-index: 100; }

.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }

.sf-menu { line-height: 1.0; }
.sf-menu ul { position: absolute; top: -999em; width: 10em; }
.sf-menu ul li { width: 100%; }
.sf-menu li { float: left; position: relative; }
.sf-menu li:hover { visibility: inherit; }
.sf-menu li a { display: block; position: relative; }

.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; top: 2.5em; z-index: 99; }

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 10em; top: 0; }

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }

.sf-menu { border-right: 1px solid #ccc; float: left; }
.sf-menu a { border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; padding: 9px 13px; text-decoration: none; }
.sf-menu a:visited { color: inherit; }
.sf-menu .current_page_item a, .sf-menu .current_page_ancestor a, .sf-menu .current_page_parent a { border-bottom-color: #fff; }
.sf-menu li { background: #fff; }
.sf-menu li li { background: #fff; }
.sf-menu li li li { background: #9AAEDB; }
.sf-menu ul { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.sf-menu ul ul { margin-top: 0; }
.sf-menu ul ul a { background: #fafafa; border-bottom: none; }
.sf-menu ul ul a:hover { color: #FF4B33; }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { background: #fafafa; outline: 0; border-bottom-color: #ccc; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 32px; }

#main { clear: both; padding: 66px 0 22px 0; }

.attachment .page-title { font-style: italic; }

.page-title { font-size: 13px; line-height: 18px; padding: 0 0 44px 0; }
.page-title a { color: #666; text-decoration: none; }
.page-title a:active, .page-title a:hover { color: #FF4B33; }
.page-title span { font-style: italic; }
.page-title .meta-nav { font-style: normal; }

.hentry { padding: 0 0 22px 0; }

.single .hentry { padding: 0; }

.home #content .sticky { border: 1px solid #ccc; margin: 0 0 66px 0; padding: 22px 20px 0 20px; }

.entry-title { font-family: Arial,sans-serif; font-size: 26px; font-weight: bold; line-height: 26px; padding: 0 0 7px 0; }
.entry-title a { color: #000; text-decoration: none; }
.entry-title a:active, .entry-title a:hover { color: #FF4B33; }

.entry-meta { color: #666; font-size: 13px; font-style: italic; line-height: 18px; }
.entry-meta .n { font-size: 11px; font-style: normal; letter-spacing: 0.05em; text-transform: uppercase; }
.entry-meta a { color: #666; text-decoration: none; }
.entry-meta a:active, .entry-meta a:hover { color: #FF4B33; }
.entry-meta abbr { border: none; cursor: text; font-size: 11px; font-style: normal; letter-spacing: 0.05em; text-transform: uppercase; }

.entry-content { padding: 22px 0 0 0; }
.entry-content h1, .entry-content h2 { font-family: Arial,sans-serif; font-size: 19px; font-weight: bold; padding: 28px 0 14px 0; }
.entry-content h3 { font-size: 17px; font-style: italic; padding: 28px 0 14px 0; }
.entry-content h4 { font-size: 11px; font-family: Arial,sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 0.05em; }
.entry-content table { margin-left: 1px; }
.entry-content embed { margin: 0 0 22px 0; }

.entry-utility { color: #666; font-size: 13px; line-height: 18px; margin: 0 0 44px 0; }
.entry-utility a { color: #666; font-style: italic; text-decoration: none; }
.entry-utility a:active, .entry-utility a:hover { color: #FF4B33; }

.page-link { font-size: 13px; font-weight: bold; line-height: 18px; margin: 0 0 22px 0; padding: 22px 0 0 0; word-spacing: 0.5em; }
.page-link a { border: 1px solid #ccc; color: #666; font-weight: normal; padding: 0.5em 0.75em; text-decoration: none; }
.page-link a:active, .page-link a:hover { color: #FF4B33; }

#links-page, #archives-page { list-style: none; margin-left: 0; overflow: hidden; }
#links-page .content-column, #archives-page .content-column { float: left; margin-right: 20px; width: 45%; }

.gallery { padding: 0 0 22px 0; }

.wp-caption-text, .gallery-caption { color: #666; font-size: 13px; line-height: 18px; }

#author-info { margin: 0 0 44px 0; overflow: hidden; }
#author-info .avatar { float: left; margin: .3em 1em 0 0; }

.attachment-jpeg #container, .attachment-png #container { width: 100%; }

.attachment-jpeg #content, .attachment-png #content { width: 930px; }

.attachment-jpeg #comments, .attachment-png #comments { width: 540px; overflow: hidden; }

.attachment-jpeg .main-aside, .attachment-png .main-aside { display: none; }

.navigation { color: #666; font-size: 13px; line-height: 18px; margin: 0px 0 22px 0; overflow: hidden; }
.navigation a { color: #666; font-style: italic; text-decoration: none; }
.navigation a:active, .navigation a:hover { color: #FF4B33; }
.navigation .meta-nav { font-style: normal; }

.nav-previous { float: left; width: 50%; }

.nav-next { float: right; width: 50%; text-align: right; }

#nav-above, #nav-below { width: 100%; }

#nav-above { display: none; }

.paged #nav-above { display: block; padding: 0 0 44px 0; }

#comments, #comments input, #comments textarea { font-size: 13px; line-height: 18px; }

#comments { padding: 22px 0 0 0; }
#comments code { font-size: 12px; line-height: 18px; }
#comments h3 { font-family: Arial,sans-serif; font-size: 15px; font-weight: bold; line-height: 22px; padding: 0 0 18px 0; }

#comments-list { padding: 0 0 18px 0; }
#comments-list ol, #comments-list ul { list-style: none; margin: 0; }
#comments-list ol { border: 1px solid #ccc; border-bottom: none; margin: 0 0 18px 0; }
#comments-list li { background: #fafafa; border: 1px solid #ccc; margin: 0 0 18px 0; padding: 18px 1.5em 0 1.5em; position: relative; }
#comments-list li.alt { background: #fff; }
#comments-list li.bypostauthor { background: #FFFFCC; }
#comments-list li.avatar { position: absolute; top: 22px; left: 1.5em; width: 36px; height: 36px; }
#comments-list .comment-author { font-weight: bold; padding: 9px 0 0 46px; }
#comments-list .comment-meta { color: #666; font-size: 11px; padding: 0 0 9px 46px; }
#comments-list .comment-meta a { color: #666; font-style: italic; text-decoration: none; }
#comments-list .comment-meta a:active, #comments-list .comment-meta a:hover { color: #FF4B33; }

.comment-reply-link { font-size: 11px; padding: 0 0 18px 0; text-align: right; }
.comment-reply-link a { color: #666; font-style: italic; text-decoration: none; }
.comment-reply-link a:active, .comment-reply-link a:hover { color: #FF4B33; }

.comment-navigation { font-weight: bold; padding: 0 0 18px 0; margin-right: 0.5em; }
.comment-navigation a { border: 1px solid #ccc; color: #666; font-weight: normal; padding: 0.5em 0.75em; text-decoration: none; }
.comment-navigation a:active, .comment-navigation a:hover { color: #FF4B33; }
.comment-navigation a a, .comment-navigation a span { margin-right: 0.5em; }

#trackbacks-list .comment-content { position: absolute; left: -9000px; }

#respond { background: #fff; margin-bottom: 22px; overflow: hidden; padding: 18px 0 0 0; position: relative; }

#comments-list #respond { border-bottom: 1px solid #ccc; margin: 0 0 18px 0; padding: 18px 1.5em; }
#comments-list #respond ul #respond { border: 1px solid #ccc; margin: 0; }

#cancel-comment-reply { font-size: 11px; position: absolute; top: 18px; right: 1.5em; }
#cancel-comment-reply a { color: #666; }

#respond .required { color: #FF4B33; font-weight: bold; }

.form-section label { font-size: 11px; }
.form-section input { margin: 0 0 18px 0; width: 98%; }
.form-section textarea { width: 99%; }

#form-allowed-tags p { color: #666; font-size: 11px; margin: 0; }
#form-allowed-tags span { font-style: italic; }
#form-allowed-tags code { font-size: 11px; line-height: normal; }

.form-submit { padding: 18px 0 0 0; text-align: right; }

.subscribe-to-comments { color: #666; float: left; font-size: 11px; margin: 0; padding: 18px 0 0 0; }

.solo-subscribe-to-comments { color: #666; font-size: 11px; padding: 18px 0 0 0; }

.comment_license { color: #666; clear: both; font-size: 11px; margin: 0; padding: 18px 0 0 0; }

.aside, .aside input { font-size: 13px; line-height: 18px; margin-bottom: 6px; }

.aside { color: #666; }
.aside .current_page_item a { color: #FF4B33; }
.aside .current_page_item .page_item a { color: #666; }
.aside .current_page_item .page_item a:hover, .aside .current_page_item .page_item a:active { color: #FF4B33; }
.aside #searchsubmit { display: none; }
.aside .widget_tag_cloud { margin: 0 0 22px 0; }
.aside p, .aside ul, .aside ol, .aside dd, .aside pre { margin-bottom: 18px; }
.aside pre, .aside code { font-size: 12px; line-height: 18px; }
.aside h3 { font-size: 15px; font-style: italic; line-height: 22px; }
.aside h3 a { text-decoration: none; }
.aside caption { font-size: 11px; font-family: Arial,sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 0.05em; }
.aside a { color: #666; }
.aside a:active, .aside a:hover { color: #FF4B33; }
.aside ul { list-style: none; margin-left: 0; }
.aside ul ul { list-style: disc; margin: 0 0 22px 20px; }
.aside ul ul li { padding: 1px 0; }
.aside ul ul ul { margin-bottom: 0; }
.aside form, .aside table { margin-bottom: 22px; }
.aside table { border: none; }
.aside table thead { border: 1px solid #ccc; }
.aside table tbody { border: 1px solid #ccc; }
.aside table th, .aside table td { border-right: 1px solid #ccc; padding: .25em .8em; }
.aside table tfoot tr { border: none; }
.aside table tfoot td { border-color: transparent; }

.main-aside ul { padding: 0 20px; }
.main-aside ul ul { padding: 0; }

#primary { border: 1px solid #ccc; padding: 18px 0 0 0; margin-bottom: 22px; }

#content .aside { border: 1px solid #ccc; margin: 0 0 22px 0; padding: 18px 0 0 0; }
#content .aside h3 { font-family: Georgia,serif; font-weight: normal; font-size: 17px; font-style: italic; padding: 0 0 7px 0; text-transform: none; }
#content .aside ul { padding: 0 20px; }
#content .aside ul ul { padding: 0; }

#subsidiary { padding: 33px 0 0 0; }

#footer { border-top: 1px solid #ccc; margin-top: 22px; }

#siteinfo { color: #666; font-size: 11px; line-height: 18px; padding: 22px 0 44px 0; }
#siteinfo a { color: #666; }
#siteinfo a:active, #siteinfo a:hover { color: #FF4B33; }

/* Using !important to override PageNavi CSS */
.wp-pagenavi { /* tables still need 'cellspacing="0"' in the markup */ margin: 0; padding: 0; }
.wp-pagenavi html, .wp-pagenavi body, .wp-pagenavi div, .wp-pagenavi span, .wp-pagenavi applet, .wp-pagenavi object, .wp-pagenavi iframe, .wp-pagenavi h1, .wp-pagenavi h2, .wp-pagenavi h3, .wp-pagenavi h4, .wp-pagenavi h5, .wp-pagenavi h6, .wp-pagenavi p, .wp-pagenavi blockquote, .wp-pagenavi pre, .wp-pagenavi a, .wp-pagenavi abbr, .wp-pagenavi acronym, .wp-pagenavi address, .wp-pagenavi big, .wp-pagenavi cite, .wp-pagenavi code, .wp-pagenavi del, .wp-pagenavi dfn, .wp-pagenavi em, .wp-pagenavi font, .wp-pagenavi img, .wp-pagenavi ins, .wp-pagenavi kbd, .wp-pagenavi q, .wp-pagenavi s, .wp-pagenavi samp, .wp-pagenavi small, .wp-pagenavi strike, .wp-pagenavi strong, .wp-pagenavi sub, .wp-pagenavi sup, .wp-pagenavi tt, .wp-pagenavi var, .wp-pagenavi dl, .wp-pagenavi dt, .wp-pagenavi dd, .wp-pagenavi ol, .wp-pagenavi ul, .wp-pagenavi li, .wp-pagenavi fieldset, .wp-pagenavi form, .wp-pagenavi label, .wp-pagenavi legend, .wp-pagenavi table, .wp-pagenavi caption, .wp-pagenavi tbody, .wp-pagenavi tfoot, .wp-pagenavi thead, .wp-pagenavi tr, .wp-pagenavi th, .wp-pagenavi td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
.wp-pagenavi *:focus { outline: 0; }
.wp-pagenavi body { line-height: 1em; color: black; background: #fff; }
.wp-pagenavi ol, .wp-pagenavi ul { list-style: none; }
.wp-pagenavi table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
.wp-pagenavi caption, .wp-pagenavi th, .wp-pagenavi td { text-align: left; font-weight: normal; vertical-align: middle; }
.wp-pagenavi q, .wp-pagenavi blockquote { quotes: "" ""; }
.wp-pagenavi q:before, .wp-pagenavi q:after, .wp-pagenavi blockquote:before, .wp-pagenavi blockquote:after { content: ""; }
.wp-pagenavi img a { border: none; }

.wp-pagenavi { margin: 0 0 0 -.5em; padding: 0.5em 0; }
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span { border: 1px solid #ccc; color: #666; font-style: normal; margin: 0 .375em; padding: 0.5em 0.25em; }
.wp-pagenavi a:visited { border: 1px solid #ccc; color: #666; }
.wp-pagenavi a:hover { border: 1px solid #ccc; color: #FF4B33; }
.wp-pagenavi a:active { border: 1px solid #ccc; color: #FF4B33; }
.wp-pagenavi span.pages { border: none; color: #666; margin: 0; padding: 0; }
.wp-pagenavi span.current { border: none; color: #666; font-weight: normal; margin: 0; padding: 0; }
.wp-pagenavi span.extend { background-color: #FFFFFF; border: 1px solid #000000; color: #000000; margin: 2px; padding: 2px 4px; }

.entry-content img { margin: 0 0 18px 0; }

.alignleft, img.alignleft { display: inline; float: left; display: block; margin-right: 20px; }

.alignright, img.alignright { display: inline; float: right; display: block; margin-left: 20px; }

.aligncenter, img.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; }

.wp-caption { text-align: center; margin-bottom: 18px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { margin: 0; padding: 5px; }

.gallery img { margin: 0; }

.wp-smiley { max-height: 12px; margin: 0 !important; }

.edit-comment { margin-bottom: 18px; }

img#wpstats { height: 0; width: 0; overflow: hidden; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child { margin-top: 0; }

h1 { font-size: 40px; margin-bottom: 12.24px; line-height: 65px; }

h2 { font-size: 36px; margin-bottom: 13.68px; line-height: 58.5px; }

h3 { font-size: 31px; margin-bottom: 15.296px; line-height: 50.375px; }

h4 { font-size: 28px; margin-bottom: 18.576px; line-height: 45.5px; }

h5 { font-size: 23px; margin-bottom: 19.808px; line-height: 37.375px; }

h6 { font-size: 21px; margin-bottom: 26px; line-height: 34.125px; }

body { line-height: 26px; color: #333333; }

p { padding-bottom: 13px; }
p img { float: left; margin-top: 8px; margin-right: 13px; margin-bottom: 13px; margin-left: 0; padding: 0; }
p img.right { margin-right: 0; margin-left: 13px; }

table { margin: 0 0 26px; border-collapse: collapse; }
table th { font-weight: bold; }
table tr, table th, table td { margin: 0; padding: 0 26px 0 16px; }
table tfoot { font-style: italic; }
table caption { text-align: center; }

ol { list-style: outside; margin: 0 0 26px; }
ol li { list-style: decimal; }
ol li ol { margin: 0 0 26px; }

ul { list-style: outside; margin: 0 0 26px; }
ul li ul { margin: 0 0 26px; }

dl { margin: 0 0 26px; }
dl dt { font-weight: bold; }
dl dd { margin-left: 26px; }

blockquote { padding: 16px 16px 26px 22.4px; }
blockquote:before { content: "\201C"; font-size: 48px; margin: 0 0 0 -0.625em; position: absolute; font-family: Times, Georgia, serif; color: #aaa; line-height: 0; }
blockquote > p { padding: 0; margin: 0; }

q { font-style: italic; }
q:before { content: "\201C"; }
q:after { content: "\201D"; }

em, dfn { font-style: italic; }

strong, dfn { font-weight: bold; }

del { text-decoration: line-through; }

span.highlight, em.highlight, strong.highlight { background-color: #ff6; padding: 2px; margin: 0 -2px; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

address { margin-top: 26px; font-style: italic; }

pre, code { margin: 26px 0; white-space: pre; }

pre, code, tt { font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace; line-height: 24px; }

tt { display: block; margin: 26px 0; }

sub, sup { line-height: 0; }

hr { margin-bottom: 26px; }

small { font-size: 13px; }

big { font-size: 20px; }

body { font-size: 16px; font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: bold; font-family: Times, "Times New Roman" Georgia, serif; }

blockquote { font-family: Times, "Times New Roman" Georgia, serif; font-size: 19.2px; }

.quote blockquote { font-size: 28px; line-height: 37.375px; color: #555; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

.clear { clear: both; }

.nowrap { white-space: nowrap; }

.clearfix { overflow: hidden; display: inline-block; }
.clearfix { display: block; }

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }

.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

.first { margin-left: 0; padding-left: 0; }

.last { margin-right: 0; padding-right: 0; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

.container { min-width: 950px; width: 80%; margin: 0 auto; overflow: hidden; display: inline-block; }
.container { display: block; }

.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 { display: inline; float: left; margin-right: 10px; }
* html .column, * html div.span-1, * html div.span-2, * html div.span-3, * html div.span-4, * html div.span-5, * html div.span-6, * html div.span-7, * html div.span-8, * html div.span-9, * html div.span-10, * html div.span-11, * html div.span-12, * html div.span-13, * html div.span-14, * html div.span-15, * html div.span-16, * html div.span-17, * html div.span-18, * html div.span-19, * html div.span-20, * html div.span-21, * html div.span-22, * html div.span-23, * html div.span-24 { overflow-x: hidden; }

.last, div.last { margin-right: 0; }

.span-1 { width: 4%; }

.span-2 { width: 8%; }

.span-3 { width: 12%; }

.span-4 { width: 16%; }

.span-5 { width: 20%; }

.span-6 { width: 25%; }

.span-7 { width: 29%; }

.span-8 { width: 33%; }

.span-9 { width: 37%; }

.span-10 { width: 41%; }

.span-11 { width: 45%; }

.span-12 { width: 50%; }

.span-13 { width: 54%; }

.span-14 { width: 58%; }

.span-15 { width: 62%; }

.span-16 { width: 66%; }

.span-17 { width: 70%; }

.span-18 { width: 75%; }

.span-19 { width: 79%; }

.span-20 { width: 83%; }

.span-21 { width: 87%; }

.span-22 { width: 91%; }

.span-23 { width: 95%; }

.span-24, div.span-24 { width: 100%; margin: 0; }

input.span-1, textarea.span-1, select.span-1 { width: 4% !important; }
input.span-2, textarea.span-2, select.span-2 { width: 8% !important; }
input.span-3, textarea.span-3, select.span-3 { width: 12% !important; }
input.span-4, textarea.span-4, select.span-4 { width: 16% !important; }
input.span-5, textarea.span-5, select.span-5 { width: 20% !important; }
input.span-6, textarea.span-6, select.span-6 { width: 25% !important; }
input.span-7, textarea.span-7, select.span-7 { width: 29% !important; }
input.span-8, textarea.span-8, select.span-8 { width: 33% !important; }
input.span-9, textarea.span-9, select.span-9 { width: 37% !important; }
input.span-10, textarea.span-10, select.span-10 { width: 41% !important; }
input.span-11, textarea.span-11, select.span-11 { width: 45% !important; }
input.span-12, textarea.span-12, select.span-12 { width: 50% !important; }
input.span-13, textarea.span-13, select.span-13 { width: 54% !important; }
input.span-14, textarea.span-14, select.span-14 { width: 58% !important; }
input.span-15, textarea.span-15, select.span-15 { width: 62% !important; }
input.span-16, textarea.span-16, select.span-16 { width: 66% !important; }
input.span-17, textarea.span-17, select.span-17 { width: 70% !important; }
input.span-18, textarea.span-18, select.span-18 { width: 75% !important; }
input.span-19, textarea.span-19, select.span-19 { width: 79% !important; }
input.span-20, textarea.span-20, select.span-20 { width: 83% !important; }
input.span-21, textarea.span-21, select.span-21 { width: 87% !important; }
input.span-22, textarea.span-22, select.span-22 { width: 91% !important; }
input.span-23, textarea.span-23, select.span-23 { width: 95% !important; }
input.span-24, textarea.span-24, select.span-24 { width: 100% !important; }

.append-1 { padding-right: 4%; }

.append-2 { padding-right: 8%; }

.append-3 { padding-right: 12%; }

.append-4 { padding-right: 16%; }

.append-5 { padding-right: 20%; }

.append-6 { padding-right: 25%; }

.append-7 { padding-right: 29%; }

.append-8 { padding-right: 33%; }

.append-9 { padding-right: 37%; }

.append-10 { padding-right: 41%; }

.append-11 { padding-right: 45%; }

.append-12 { padding-right: 50%; }

.append-13 { padding-right: 54%; }

.append-14 { padding-right: 58%; }

.append-15 { padding-right: 62%; }

.append-16 { padding-right: 66%; }

.append-17 { padding-right: 70%; }

.append-18 { padding-right: 75%; }

.append-19 { padding-right: 79%; }

.append-20 { padding-right: 83%; }

.append-21 { padding-right: 87%; }

.append-22 { padding-right: 91%; }

.append-23 { padding-right: 95%; }

.prepend-1 { padding-left: 4%; }

.prepend-2 { padding-left: 8%; }

.prepend-3 { padding-left: 12%; }

.prepend-4 { padding-left: 16%; }

.prepend-5 { padding-left: 20%; }

.prepend-6 { padding-left: 25%; }

.prepend-7 { padding-left: 29%; }

.prepend-8 { padding-left: 33%; }

.prepend-9 { padding-left: 37%; }

.prepend-10 { padding-left: 41%; }

.prepend-11 { padding-left: 45%; }

.prepend-12 { padding-left: 50%; }

.prepend-13 { padding-left: 54%; }

.prepend-14 { padding-left: 58%; }

.prepend-15 { padding-left: 62%; }

.prepend-16 { padding-left: 66%; }

.prepend-17 { padding-left: 70%; }

.prepend-18 { padding-left: 75%; }

.prepend-19 { padding-left: 79%; }

.prepend-20 { padding-left: 83%; }

.prepend-21 { padding-left: 87%; }

.prepend-22 { padding-left: 91%; }

.prepend-23 { padding-left: 95%; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 { display: inline; float: left; position: relative; }

.pull-1 { margin-left: -40px; }

.pull-2 { margin-left: -80px; }

.pull-3 { margin-left: -120px; }

.pull-4 { margin-left: -160px; }

.pull-5 { margin-left: -200px; }

.pull-6 { margin-left: -240px; }

.pull-7 { margin-left: -280px; }

.pull-8 { margin-left: -320px; }

.pull-9 { margin-left: -360px; }

.pull-10 { margin-left: -400px; }

.pull-11 { margin-left: -440px; }

.pull-12 { margin-left: -480px; }

.pull-13 { margin-left: -520px; }

.pull-14 { margin-left: -560px; }

.pull-15 { margin-left: -600px; }

.pull-16 { margin-left: -640px; }

.pull-17 { margin-left: -680px; }

.pull-18 { margin-left: -720px; }

.pull-19 { margin-left: -760px; }

.pull-20 { margin-left: -800px; }

.pull-21 { margin-left: -840px; }

.pull-22 { margin-left: -880px; }

.pull-23 { margin-left: -920px; }

.pull-24 { margin-left: -960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 { display: inline; float: right; position: relative; }

.push-1 { margin: 0 -40px 1.5em 40px; }

.push-2 { margin: 0 -80px 1.5em 80px; }

.push-3 { margin: 0 -120px 1.5em 120px; }

.push-4 { margin: 0 -160px 1.5em 160px; }

.push-5 { margin: 0 -200px 1.5em 200px; }

.push-6 { margin: 0 -240px 1.5em 240px; }

.push-7 { margin: 0 -280px 1.5em 280px; }

.push-8 { margin: 0 -320px 1.5em 320px; }

.push-9 { margin: 0 -360px 1.5em 360px; }

.push-10 { margin: 0 -400px 1.5em 400px; }

.push-11 { margin: 0 -440px 1.5em 440px; }

.push-12 { margin: 0 -480px 1.5em 480px; }

.push-13 { margin: 0 -520px 1.5em 520px; }

.push-14 { margin: 0 -560px 1.5em 560px; }

.push-15 { margin: 0 -600px 1.5em 600px; }

.push-16 { margin: 0 -640px 1.5em 640px; }

.push-17 { margin: 0 -680px 1.5em 680px; }

.push-18 { margin: 0 -720px 1.5em 720px; }

.push-19 { margin: 0 -760px 1.5em 760px; }

.push-20 { margin: 0 -800px 1.5em 800px; }

.push-21 { margin: 0 -840px 1.5em 840px; }

.push-22 { margin: 0 -880px 1.5em 880px; }

.push-23 { margin: 0 -920px 1.5em 920px; }

.push-24 { margin: 0 -960px 1.5em 960px; }

.prepend-top { margin-top: 1.5em; }

.append-bottom { margin-bottom: 1.5em; }

.showgrid { background: url('/images/grid.png'); }

.error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.error a { color: #8a1f11; }

.notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
.notice a { color: #514721; }

.success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
.success a { color: #264409; }

.hide { display: none; }

.highlight { background: yellow; }

.added { background: #006600; color: white; }

.removed { background: #990000; color: white; }

label { font-weight: bold; }

fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }

legend { font-weight: bold; font-size: 1.2em; }

input.text, input.title, input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
input.title { font-size: 1.5em; }
input[type=checkbox], input.checkbox, input[type=radio], input.radio { position: relative; top: 0.25em; }

textarea { margin: 0.5em 0; padding: 5px; }

select { margin: 0.5em 0; }

fieldset { border: 1px solid #cccccc; }

input.text, input.title, textarea, select { border: 1px solid #bbbbbb; }
input.text:focus, input.title:focus, textarea:focus, select:focus { border: 1px solid #666666; }

input.text, input.title { width: 300px; }

textarea { width: 390px; height: 250px; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

.clear { clear: both; }

.nowrap { white-space: nowrap; }

.clearfix { overflow: hidden; display: inline-block; }
.clearfix { display: block; }

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }

.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

.first { margin-left: 0; padding-left: 0; }

.last { margin-right: 0; padding-right: 0; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

.container { min-width: 950px; width: 80%; margin: 0 auto; overflow: hidden; display: inline-block; }
.container { display: block; }

.span-1 { width: 4%; }

div.span-1 { display: inline; float: left; overflow: hidden; width: 4%; margin-right: 0.833em; }

.span-2 { width: 8%; }

div.span-2 { display: inline; float: left; overflow: hidden; width: 8%; margin-right: 0.833em; }

.span-3 { width: 12%; }

div.span-3 { display: inline; float: left; overflow: hidden; width: 12%; margin-right: 0.833em; }

.span-4 { width: 16%; }

div.span-4 { display: inline; float: left; overflow: hidden; width: 16%; margin-right: 0.833em; }

.span-5 { width: 20%; }

div.span-5 { display: inline; float: left; overflow: hidden; width: 20%; margin-right: 0.833em; }

.span-6 { width: 25%; }

div.span-6 { display: inline; float: left; overflow: hidden; width: 25%; margin-right: 0.833em; }

.span-7 { width: 29%; }

div.span-7 { display: inline; float: left; overflow: hidden; width: 29%; margin-right: 0.833em; }

.span-8 { width: 33%; }

div.span-8 { display: inline; float: left; overflow: hidden; width: 33%; margin-right: 0.833em; }

.span-9 { width: 37%; }

div.span-9 { display: inline; float: left; overflow: hidden; width: 37%; margin-right: 0.833em; }

.span-10 { width: 41%; }

div.span-10 { display: inline; float: left; overflow: hidden; width: 41%; margin-right: 0.833em; }

.span-11 { width: 45%; }

div.span-11 { display: inline; float: left; overflow: hidden; width: 45%; margin-right: 0.833em; }

.span-12 { width: 50%; }

div.span-12 { display: inline; float: left; overflow: hidden; width: 50%; margin-right: 0.833em; }

.span-13 { width: 54%; }

div.span-13 { display: inline; float: left; overflow: hidden; width: 54%; margin-right: 0.833em; }

.span-14 { width: 58%; }

div.span-14 { display: inline; float: left; overflow: hidden; width: 58%; margin-right: 0.833em; }

.span-15 { width: 62%; }

div.span-15 { display: inline; float: left; overflow: hidden; width: 62%; margin-right: 0.833em; }

.span-16 { width: 66%; }

div.span-16 { display: inline; float: left; overflow: hidden; width: 66%; margin-right: 0.833em; }

.span-17 { width: 70%; }

div.span-17 { display: inline; float: left; overflow: hidden; width: 70%; margin-right: 0.833em; }

.span-18 { width: 75%; }

div.span-18 { display: inline; float: left; overflow: hidden; width: 75%; margin-right: 0.833em; }

.span-19 { width: 79%; }

div.span-19 { display: inline; float: left; overflow: hidden; width: 79%; margin-right: 0.833em; }

.span-20 { width: 83%; }

div.span-20 { display: inline; float: left; overflow: hidden; width: 83%; margin-right: 0.833em; }

.span-21 { width: 87%; }

div.span-21 { display: inline; float: left; overflow: hidden; width: 87%; margin-right: 0.833em; }

.span-22 { width: 91%; }

div.span-22 { display: inline; float: left; overflow: hidden; width: 91%; margin-right: 0.833em; }

.span-23 { width: 95%; }

div.span-23 { display: inline; float: left; overflow: hidden; width: 95%; margin-right: 0.833em; }

.span-24 { width: 100%; }

div.span-24 { display: inline; float: left; overflow: hidden; width: 100%; margin-right: 0; }

div.last { margin-right: 0; }

.append-1 { padding-right: 4%; }

.append-2 { padding-right: 8%; }

.append-3 { padding-right: 12%; }

.append-4 { padding-right: 16%; }

.append-5 { padding-right: 20%; }

.append-6 { padding-right: 25%; }

.append-7 { padding-right: 29%; }

.append-8 { padding-right: 33%; }

.append-9 { padding-right: 37%; }

.append-10 { padding-right: 41%; }

.append-11 { padding-right: 45%; }

.append-12 { padding-right: 50%; }

.append-13 { padding-right: 54%; }

.append-14 { padding-right: 58%; }

.append-15 { padding-right: 62%; }

.append-16 { padding-right: 66%; }

.append-17 { padding-right: 70%; }

.append-18 { padding-right: 75%; }

.append-19 { padding-right: 79%; }

.append-20 { padding-right: 83%; }

.append-21 { padding-right: 87%; }

.append-22 { padding-right: 91%; }

.append-23 { padding-right: 95%; }

.prepend-1 { padding-left: 4%; }

.prepend-2 { padding-left: 8%; }

.prepend-3 { padding-left: 12%; }

.prepend-4 { padding-left: 16%; }

.prepend-5 { padding-left: 20%; }

.prepend-6 { padding-left: 25%; }

.prepend-7 { padding-left: 29%; }

.prepend-8 { padding-left: 33%; }

.prepend-9 { padding-left: 37%; }

.prepend-10 { padding-left: 41%; }

.prepend-11 { padding-left: 45%; }

.prepend-12 { padding-left: 50%; }

.prepend-13 { padding-left: 54%; }

.prepend-14 { padding-left: 58%; }

.prepend-15 { padding-left: 62%; }

.prepend-16 { padding-left: 66%; }

.prepend-17 { padding-left: 70%; }

.prepend-18 { padding-left: 75%; }

.prepend-19 { padding-left: 79%; }

.prepend-20 { padding-left: 83%; }

.prepend-21 { padding-left: 87%; }

.prepend-22 { padding-left: 91%; }

.prepend-23 { padding-left: 95%; }

.pull-1 { margin-left: -3.332em; }

.pull-2 { margin-left: -6.664em; }

.pull-3 { margin-left: -9.996em; }

.pull-4 { margin-left: -13.328em; }

.pull-5 { margin-left: -16.66em; }

.pull-6 { margin-left: -19.992em; }

.pull-7 { margin-left: -23.324em; }

.pull-8 { margin-left: -26.656em; }

.pull-9 { margin-left: -29.988em; }

.pull-10 { margin-left: -33.32em; }

.pull-11 { margin-left: -36.652em; }

.pull-12 { margin-left: -39.984em; }

.pull-13 { margin-left: -43.316em; }

.pull-14 { margin-left: -46.648em; }

.pull-15 { margin-left: -49.98em; }

.pull-16 { margin-left: -53.312em; }

.pull-17 { margin-left: -56.644em; }

.pull-18 { margin-left: -59.976em; }

.pull-19 { margin-left: -63.308em; }

.pull-20 { margin-left: -66.64em; }

.pull-21 { margin-left: -69.972em; }

.pull-22 { margin-left: -73.304em; }

.pull-23 { margin-left: -76.636em; }

.pull-24 { margin-left: -79.968em; }

.push-1 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -3.332em; margin-bottom: 0; }

.push-2 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -6.664em; margin-bottom: 0; }

.push-3 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -9.996em; margin-bottom: 0; }

.push-4 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -13.328em; margin-bottom: 0; }

.push-5 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -16.66em; margin-bottom: 0; }

.push-6 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -19.992em; margin-bottom: 0; }

.push-7 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -23.324em; margin-bottom: 0; }

.push-8 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -26.656em; margin-bottom: 0; }

.push-9 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -29.988em; margin-bottom: 0; }

.push-10 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -33.32em; margin-bottom: 0; }

.push-11 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -36.652em; margin-bottom: 0; }

.push-12 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -39.984em; margin-bottom: 0; }

.push-13 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -43.316em; margin-bottom: 0; }

.push-14 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -46.648em; margin-bottom: 0; }

.push-15 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -49.98em; margin-bottom: 0; }

.push-16 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -53.312em; margin-bottom: 0; }

.push-17 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -56.644em; margin-bottom: 0; }

.push-18 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -59.976em; margin-bottom: 0; }

.push-19 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -63.308em; margin-bottom: 0; }

.push-20 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -66.64em; margin-bottom: 0; }

.push-21 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -69.972em; margin-bottom: 0; }

.push-22 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -73.304em; margin-bottom: 0; }

.push-23 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -76.636em; margin-bottom: 0; }

.push-24 { display: inline; float: right; margin-top: 0; margin-left: 1.5em; margin-right: -79.968em; margin-bottom: 0; }

.showgrid { background: url('/images/grid.png'); }

.error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.error a { color: #8a1f11; }

.notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
.notice a { color: #514721; }

.success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
.success a { color: #264409; }

.hide { display: none; }

.highlight { background: yellow; }

.added { background: #006600; color: white; }

.removed { background: #990000; color: white; }

body { min-width: 950px; width: 80%; margin: 0 auto; overflow: hidden; display: inline-block; }
body { display: block; }
